/* YeyeYeee código aquí */

/* ingreso usuario */
#backingreso{
	background-color: #292929;
	height: 100vh;
	width: 100%;
	
}
.ingreso h3{
	color: #fbc02d;
	margin-bottom: 15%;
}
.ingreso{
	padding-top: 15%;
}
#img-logo{
	height: 100px;
	width: auto;
}
.form-group {
    margin-bottom: 0px;
}
.ingreso p, h6 {
	color: white;
}
#login{
	margin-left: 0%;
	width: 100%;
	margin: 0px;
}
#mail, #pwd{
	background-color: white;
	margin: 0px;
}
.ingreso label{
	display: block;
}
/* ingreso usuario */
#backsaldo{
	background-color: #cfcfcf;
	height: 100vh;
}
#opciones{
	padding-top: 30%;
}

/* perfil*/
.perfil{
	background-color: #cfcfcf;
	height: 100vh;
	width: 100%;
}
#userprofile{
	height: 120px;
	width: auto;
	background-color: #fbc02d;
	padding-top: 5%;
	padding-bottom: 5%; 
	padding-left: 33%;
}
.backprofile{
	background-color: #fbc02d;
	width: 100%;
	height: 120px;
}
#delete{
	padding-right: 0;
	padding-left: 0;
}
#numbtar{
	background-color: #cfcfcf;
	border-bottom: 1px solid black;
	box-shadow: none;
	border-radius: 0;
}
#addtarje{
	margin-top: 5%;
}
/* PREGUNTAS  */
#backpreguntas{
	padding-left: 0;
	padding-right: 0;
	background-color: #fbc02d;
	padding-top: 15%;
	padding-bottom: 15%;
	color: white;
}
.cuestions{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;	
    padding-top: 1%;
}
#resp{
	background-color: #cfcfcf;
	width: 100%;
	height: 70vh;
	padding-top: 5%;
}
#resp a{
	text-decoration: none;
}
/* VERSALDO */
#sld{
	background-color: #cfcfcf;
	border-bottom: 1px solid black;
	box-shadow: none;
	border-radius: 0px;
}
#backvsdl{
	background-color: #cfcfcf;
	height: 100vh;
}
#btnSld{
	margin-top: 5%;
	border-radius: 0;
}
#backcantsaldo p{
	margin-top: 5%;
	background-color: #616161;
	color: white;
	-webkit-margin-before: 2em;
    -webkit-margin-after: 0em;
}
#totalSaldo{
	background-color: #fbc02d;
	height: 50px;
	width: 100%;
}

/* Calcular Tarifa*/
#tarifa{
	margin-top: 15%;
}
#tarj{
	margin-top: 15%;
}
select.form-control{
	font-size: 11px;
}