/* YeyeYeee código aquí */

/* ingreso usuario */
#backingreso{
	background-color: #292929;
	height: 100vh;
	width: 100%;
	padding-bottom: 60%;
}
.ingreso h1{
	color: yellow;
	margin-bottom: 15%;
}
.ingreso{
	padding-top: 15%;
}
#img-logo{
	height: 100px;
	width: auto;
}
.form-group {
    margin-bottom: 0px;
}
.ingreso p, h4 {
	color: white;
}
/* ingreso usuario */
#backsaldo{
	background-color: #cfcfcf;
	height: 100vh;

}